body {
    font-size: 30px;
    color: #003049;
    font-family: Impact, fantasy;
    width: auto;
    margin: 0px;
    background-color: #fdf0d5;
}

.top-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    justify-content: center;
    /* padding: 5vh; */
    align-items: baseline;
}

h1 {
    /* width: 34vh;
    height: 30h; */
    /* margin: 5vh; */
    color: #003049;
    /* margin-top: 30vh; */
    font-size: 60px;
}

h2 {
    /* width: 30vh;
    height: 100%; */
    /* margin: 5vh; */
    color: #003049;
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

.theme-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* experimenting with class to toggle to hide options */

/* .theme-title:hover,
.hide-element:hover {
    display: none;
} */

.themes-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: azure;
}

.themes-top-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    color: #003049;
}

.themes-bottom-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #003049;
}

.themes-top {
    width: 20vh;
    height: 10vh;
    background-color: black;
    display: flex;
    margin: 5vh;
    border-radius: 25%;
    justify-content: center;
    background-color: #669bbc;
}

.themes-bottom {
    width: 20vh;
    height: 10vh;
    background-color: black;
    display: flex;
    margin: 5vh;
    border-radius: 25%;
    justify-content: center;
    background-color: #669bbc;
}

.themes-bottom:hover,
.themes-top:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #780000;
}

p {
    display: flex;
    align-self: center;
}

/* hide section */
.hide-section {
    display: none;
}

.hangman-game-top {
    display: flex;
    justify-content: center;
}

.hangman-game-bottom {
    display: flex;
    justify-content: space-around;
}

.hangman-image-box {
    background-color: 780000;
    width: 40vh;
    height: 40vh;
}

.title:hover {
    transform: scale(1.1);
}

#hangman-image-box {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px #780000;
}
